################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

speedtest:
  # Defines how often an event is sent to the output
  period: 1s
